@import '../../config.scss';

.header__logo {
  @font-face {
    font-family: "Poppins";
    src: local("PoppinsSemiBold"),
     url("../../assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
    font-weight: bold;
   }
  display: flex;
  .header__app-name {
    font-size: 24px;
    margin-left: 7.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
}